$breakpoint-tablet: 768px;

section {
  padding: 60px 10px;
  background-color: white;

  @media (min-width: 400px) and (max-width: $breakpoint-tablet) {
    padding: 60px 20px;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 80px;
  }

  .container {
    max-width: 1039px;
    position: relative;
    margin: 0 auto;
  }
}
